.page-content-1 {
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  flex-flow: wrap;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  flex-direction: column;
}

.career-quiz-1 {
  display: flex;
  /* padding: 50px; */
  background: url("../banner/homepage-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  width: 90%;
}

.title-big--career-quiz-title-1 {
  font-size: 40px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 100px;
  text-align: center;
}

.title-big--promo-content-text {
  margin: 10px;
}

.title-big--career-quiz-2 {
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

.feedback1-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.feedback1-list__card {
  display: flex;
  width: 250px;
  border-style: solid;
  border-radius: 5px;
  border-color: darkgray;
  flex-direction: column;
  border-width: 1px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feedback1-list__card__star-row {
  display: flex;
}

.feedback1-list__card__star-row__star-img {
  height: 20px;
  margin: 2px;
}

.feedback1-list__card__feedback-content {
  font-size: 15px;
}

.feedback1-list__card__separator {
  height: 2px;
  background-color: gainsboro;
}

.feedback1-list__card__feedback-writer-info {
  display: flex;
  padding-top: 10px;
}

.feedback1-list__card__feedback-writer-info__left {
  display: flex;
  width: 20%;
}

.feedback1-list__card__feedback-writer-info__left__avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.feedback1-list__card__feedback-writer-info__right {
  margin-left: 10px;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}

.feedback1-list__card__feedback-writer-info__right__commentor-name {
  font-weight: 600;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.feedback1-list__card__feedback-writer-info__right__commentor-location {
  font-weight: 100;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 0;
  overflow: hidden;
}
